<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Receive newsletter:</strong>
    <%= user.receive_newsletter ? "Yes" : "No" %>
  </p>

  <p>
    <strong>Favorite color:</strong>
    <%= user.favorite_color %>
  </p>

</div>
